.Card_container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 1px solid white;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
}
.Card_container p{
    text-overflow: ellipsis;
    text-align: center;
    font-size: 10pt;
}
.Card_Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 40, 83, 1);
    height: 30px;
    border-top-right-radius: 10px; -moz-border-radius-topright: 10px; -webkit-border-top-right-radius: 10px;
    border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-top-left-radius: 10px;
}
.Card_Header p{
    text-align: center;
}
.Card_image{
    height: 200px;
}
.Card_Content{
    height: 30px;
    width : 200px;
    padding: 0.5rem;
    overflow : hidden;
    text-overflow : clip;
    word-wrap : break-word;
    text-align: start;
    max-lines: 1;
    font-size: 8pt;
}
.Card_Actions{
    background-color: transparent;
    flex-direction: row;
    margin-top: -20px;
    padding: 0;
}
.Card_Icon{
    background-color: aqua;
}
@media screen and (max-width: 550px) {
    .Card_container{
        width: 150px;
        height: 250px;
    }
}