.Card_container {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem 1rem 3rem;
    width: 200px;
    height: 350px;
    border: 1px solid darkblue;
    -moz-border-radius: 30px;
    -khtml-border-radius: 30px;
    -webkit-border-radius: 30px;
    background-color: grey;
    color: black;
}
.Avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content :center;
    margin: 1rem 0;
    width: 100%;
    height: 150px;
}
.Image_container{
    display: flex;
    flex: 1;
    justify-content: center;
}
.Image {
    width: 150px;
    height: 150;
    vertical-align: middle;
    border-radius: 50%;
}
.Profile_Name {
    display: flex;
    flex: 2;
    justify-content: center;
}
.Details {
    display: flex;
    flex: 1;
    justify-content: center;
}
.ShowMore {
    display: flex;
    flex : 2;
    justify-content: center;
}
.BtnShowMore {
    margin: 0.3rem;
    width: 80%;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    background-color: #FF4820;
    color: beige;
    font-weight: bold;
    font-size: 11pt;
}

