.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    height: 100%;
    flex-direction: column;
  }
  .header{
    align-self: stretch;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 15pt;
    padding: 1rem;
    padding-left: 2rem;
    margin: 1rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
  }